<div class="outer-full">
  <header
    class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow"
  >
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="home">
      <h2>LEVELUP</h2>
    </a>
    <button
      class="navbar-toggler position-absolute d-md-none collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu"
      aria-controls="sidebarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a
          style="background: red; color: #fff; border-radius: 4px; margin: 10px"
          class="nav-link px-3 cursor-pointer"
          (click)="logout()"
          >Sign out</a
        >
      </div>
    </div>
  </header>

  <div class="outer">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class="panel border bg-white">
            <div class="panel-heading">
              <h3 class="pt-3 font-weight-bold">Update User infomation</h3>
            </div>
            <div class="panel-body p-3">
              <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div class="form-group pt-3">
                  <div
                    class="input-field"
                    [class.error]="
                      signUpForm.controls['firstName'].dirty &&
                      signUpForm.hasError('required', 'firstName')
                    "
                  >
                    <span class="fa fa-user p-2"></span>
                    <input
                      formControlName="firstName"
                      type="text"
                      placeholder="First Name"
                    />
                  </div>
                </div>
                <small
                  *ngIf="
                    signUpForm.controls['firstName'].dirty &&
                    signUpForm.hasError('required', 'firstName')
                  "
                  class="text-danger"
                  >*First Name is required*</small
                >
                <div class="form-group pt-3">
                  <div
                    class="input-field"
                    [class.error]="
                      signUpForm.controls['lastName'].dirty &&
                      signUpForm.hasError('required', 'lastName')
                    "
                  >
                    <span class="fa fa-user p-2"></span>
                    <input
                      formControlName="lastName"
                      type="text"
                      placeholder="Last Name"
                    />
                  </div>
                </div>
                <small
                  *ngIf="
                    signUpForm.controls['lastName'].dirty &&
                    signUpForm.hasError('required', 'lastName')
                  "
                  class="text-danger"
                  >*Last Name is required*</small
                >
                <div class="form-group pt-3">
                  <div
                    class="input-field"
                    [class.error]="
                      signUpForm.controls['userName'].dirty &&
                      signUpForm.hasError('required', 'userName')
                    "
                  >
                    <span class="fa fa-user p-2"></span>
                    <input
                      formControlName="userName"
                      type="text"
                      placeholder="User Name"
                    />
                  </div>
                </div>
                <small
                  *ngIf="
                    signUpForm.controls['userName'].dirty &&
                    signUpForm.hasError('required', 'userName')
                  "
                  class="text-danger"
                  >*Username is required*</small
                >
                <div class="form-group pt-3">
                  <div
                    class="input-field"
                    [class.error]="
                      signUpForm.controls['email'].dirty &&
                      signUpForm.hasError('required', 'email')
                    "
                  >
                    <span class="fa fa-user p-2"></span>
                    <input
                      formControlName="email"
                      type="text"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <small
                  *ngIf="
                    signUpForm.controls['email'].dirty &&
                    signUpForm.hasError('required', 'email')
                  "
                  class="text-danger"
                  >*Email is required*</small
                >
                <div class="form-group pt-3">
                  <div
                    class="input-field"
                    [class.error]="
                      signUpForm.controls['age'].dirty &&
                      (signUpForm.controls['age'].hasError('required') ||
                        signUpForm.controls['age'].hasError('pattern'))
                    "
                  >
                    <span class="fa fa-calendar p-2"></span>
                    <input
                      formControlName="age"
                      type="text"
                      placeholder="Age"
                    />
                  </div>
                  <small
                    *ngIf="
                      signUpForm.controls['age'].dirty &&
                      signUpForm.controls['age'].hasError('required')
                    "
                    class="text-danger"
                    >*Age is required*</small
                  >
                  <small
                    *ngIf="
                      signUpForm.controls['age'].dirty &&
                      signUpForm.controls['age'].hasError('pattern')
                    "
                    class="text-danger"
                    >*Age must be a number*</small
                  >
                </div>

                <div class="form-group pt-3">
                  <div
                    class="input-field"
                    [class.error]="
                      signUpForm.controls['nationality'].dirty &&
                      signUpForm.hasError('required', 'nationality')
                    "
                  >
                    <span class="fa fa-user p-2"></span>
                    <input
                      formControlName="nationality"
                      type="text"
                      placeholder="Nationality"
                    />
                  </div>
                </div>
                <small
                  *ngIf="
                    signUpForm.controls['nationality'].dirty &&
                    signUpForm.hasError('required', 'nationality')
                  "
                  class="text-danger"
                  >*Nationality is required*</small
                >
                <div class="button-group">
                  <button class="btn btn-primary mt-2">Save</button>
                  <button class="btn btn-danger mt-2">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
